.card{
    border: 2px solid rosybrown;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}
/* `https://content.newtonschool.co/v1/pr/63b6c911af4f30335b4b3b89/products?page=${page}&limit=5` */