.dark{
    border: 4px solid #5114e0;
    background-color: black;
}

.light{
    border: 4px solid yellowgreen;
    background-color: cornsilk;
}

.productList-control{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    height: 600px;
    
}

